doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    link(href='assets/css/style.min.css' rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    // meta
    title Unsplash demo
    meta(name='description' content='')
    meta(name='keywords' content='')
  body
    .container
      .row
        .col-sm-12
          div.gallery
            .gallery__list
            .gallery__content
    script(src='assets/js/app.min.js')